body{
    text-align: center;
    border: 5px solid green;
}
.button {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  background-color: light grey;
  color: white;
  transition-duration: 0.12s;
}

.button:hover {
  background-color: grey;
  color: white;
}
